In [2]:
import pandas as pd

df = pd.read_csv('../dataset/test.csv',index_col=0)

print(df.head())

                                              image_link  group_id entity_name
index
0      https://m.media-amazon.com/images/I/110EibNycl...    156839      height
1      https://m.media-amazon.com/images/I/11TU2clswz...    792578       width
2      https://m.media-amazon.com/images/I/11TU2clswz...    792578      height
3      https://m.media-amazon.com/images/I/11TU2clswz...    792578       depth
4      https://m.media-amazon.com/images/I/11gHj8dhhr...    792578       depth

In [3]:
sample_train= df[:50]
sample_train.head()

                                              image_link  group_id entity_name
index
0      https://m.media-amazon.com/images/I/110EibNycl...    156839      height
1      https://m.media-amazon.com/images/I/11TU2clswz...    792578       width
2      https://m.media-amazon.com/images/I/11TU2clswz...    792578      height
3      https://m.media-amazon.com/images/I/11TU2clswz...    792578       depth
4      https://m.media-amazon.com/images/I/11gHj8dhhr...    792578       depth

In [6]:
import os
import pandas as pd
from utils import download_images
download_images(sample_train['image_link'], '../images/train')

100%|██████████| 50/50 [01:45<00:00,  2.12s/it]